@model ZooApplication.Models.ViewModels.DetailsSpecies


@{
    ViewBag.Title = "View";
}

<a href="/Species/List">Go back to list</a>
<br />
<a href="/Species/Edit/@Model.SelectedSpecies.SpeciesID">Update</a>
<br />
<a style="color:#ab2020;" href="/Species/DeleteConfirm/@Model.SelectedSpecies.SpeciesID">Delete</a>
<h2>@Model.SelectedSpecies.SpeciesName</h2>
<div>Endangered: @Model.SelectedSpecies.SpeciesEndangered</div>


<div style="margin-top:100px;">
    <h3>Animals related to this species</h3>
    @foreach(var animal in Model.RelatedAnimals)
    {
        <a href="/Animal/Details/@animal.AnimalID">@animal.AnimalName</a>

    }
</div>
