

@{
    ViewBag.Title = "Create";
}

<h2>Create Keeper</h2>
<form action="/Keeper/Create" method="POST">
    <div>
        <label>First Name:</label> <input type="text" name="KeeperFirstName"  />
    </div>
    <div>
        <label>Last Name:</label> <input type="text" name="KeeperLastName" />
    </div>
    <div>
        <input type="submit" value="Create Keeper" />

    </div>
</form>