@model ZooApplication.Models.AnimalDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this animal?</h2>
<nav>
    <ul>
        <li><a href="/Animal/List">Cancel</a></li>
        <li><a href="/Animal/Edit/@Model.AnimalID">Update</a></li>
    </ul>
</nav>
<h3>@Model.AnimalName</h3>
<div>Weight: @Model.AnimalWeight kg</div>
<div>Species: @Model.SpeciesName</div>
<form action="/Animal/Delete/@Model.AnimalID" method="POST">
    <input type="submit" value="Confirm Delete"/>
</form>
