@model ZooApplication.Models.AnimalDto 


@{
    ViewBag.Title = "View";
}

<a href="/Animal/List">Go back to list</a>
<h2>@Model.AnimalName</h2>
<div>weight: @Model.AnimalWeight kg</div>
<div>species: @Model.SpeciesName</div>

