@model IEnumerable<ZooApplication.Models.AnimalDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Animal/New">New Animal</a>
@foreach(var animal in Model)
{
    <h2><a href="/Animal/Details/@animal.AnimalID">@animal.AnimalName</a></h2>
    <div>weight: @animal.AnimalWeight kg</div>
    <div>species: @animal.SpeciesName</div>


}
