@model IEnumerable<ZooApplication.Models.SpeciesDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Animal</h2>
<form action="/Animal/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="AnimalName" />
    </div>
    <div>
        <label>Weight (kg):</label> <input type="number" name="AnimalWeight" />
    </div>
    <div>
        <label>Species:</label> 
        <select name="SpeciesID">
            @foreach (var species in Model)
            {
                <option value="@species.SpeciesID">@species.SpeciesName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Animal" />

    </div>
</form>


